Source: patience-lxde-artwork
Section: graphics
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 11),
Standards-Version: 4.1.3
Vcs-Git: https://git.siduction.org/artwork/env-lxde.git
Vcs-Browser: https://git.siduction.org/artwork/env-lxde.git


Package: patience-lxde-artwork
Architecture: all
Depends:
 ${misc:Depends},
 patience-wallpapers,
 siduction-icons,
 breeze-cursor-theme
Description: LXDE theme for Patience
 Release specific metapackage depending on patience-wallpapers
 to be used in combination with the LXDE desktop environment.

