Source: c-blues-lxde-artwork
Section: graphics
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 11),
Standards-Version: 4.1.4
Vcs-Browser: https://git.siduction.org/artwork/env-lxde
Vcs-Git: https://git.siduction.org/artwork/env-lxde.git


Package: c-blues-lxde-artwork
Architecture: all
Depends:
 ${misc:Depends},
 c-blues-wallpapers,
 siduction-icons,
 breeze-cursor-theme
Description: LXDE theme for c-blues
 Release specific metapackage depending on c-blues-wallpapers
 to be used in combination with the LXDE desktop environment.

