Source: @CODENAME_SAFE@-lxde-artwork
Section: graphics
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Build-Depends: debhelper (>= 11),
Standards-Version: 4.1.4
Vcs-Git: https://git.siduction.org/artwork/env-lxde.git
Vcs-Browser: https://git.siduction.org/artwork/env-lxde.git


Package: @CODENAME_SAFE@-lxde-artwork
Architecture: all
Depends:
 ${misc:Depends},
 @CODENAME_SAFE@-wallpapers,
 siduction-icons,
 breeze-cursor-theme
Description: LXDE theme for @CODENAME@
 Release specific metapackage depending on @CODENAME_SAFE@-wallpapers
 to be used in combination with the LXDE desktop environment.

